/** Project Issue **/
.project-issue-status-info a,.project-issue-status-info .project-issue-assigned-user
{
	background-color: #cdcdcd;
	padding: 2px 4px;
}
.project-issue-status-info .project-issue-assigned-user
{
	white-space: nowrap;
}
.project-issue-status-4 a, .project-issue-status-15 a
{
	background-color: #fff;
}

.project-issue-status-18 a
{
	background-color: #c0ffc0;
}
.project-issue-status-6 a
{
	background-color: #ddf;
}
.project-issue-status-5 a
{
	background-color: #ffc9c9;
}

.project-issue-status-20 a
{
	background-color: #ffd;
}
.project-issue-status-19 a
{
	background-color: #ffe7dd;
}
.project-issue-status-17 a
{
	background-color: #e7ffdd;
}
